venv/
__pycache__/
*.pyc
.DS_Store
.vscode/
https/maze_https_mongo
https/maze_https_redis
https/maze_https_ros2_bridge
maze/maze_sdl2_json_send
maze/maze_sdl2
maze/maze_game
maze/missions/mission_dashboard
